* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121820;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23000000' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%230D1117'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
}

a {
    color: black;
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1 {
    font-weight: 400;
}

.repos {
    font-size: 2rem;
    text-align: left;
    padding: 50px;
}

.repos ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.repos li {
    padding: 7px;
    margin: 10px 7px;
    background: white;
    color: #0F111A;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.356);
    display: block;
    font-size: 1.6rem;
}


.followers {
    font-size: 2rem;
    text-align: left;
    padding: 50px;
}

.followers ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.followers li {
    padding: 10px;
    margin: 10px;
    background: white;
    color: #0F111A;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.356);
    text-align: center;
}

.default {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.gt {
    padding: 7px 15px;
    font-size: 2.5rem;
    max-width: 300px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.356);
}

.ch {
    margin: 0 !important;
    margin-right: 5px !important;
    background-color: white;
}

.default input:focus {
    outline: none;
}

.back {
    background: url(./left-arrow.svg);
    background-repeat: no-repeat;
    font-size: 3rem;
    padding-left: 35px;
    color: black;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    border: none;
    cursor: pointer;
    margin-right: 0;
    margin-top: 50px;
    margin-left: 50px;
}

.back:hover {
    -webkit-filter: invert(85%);
    filter: invert(85%);
}

.gitSubmit {
    background-image: url(./github.svg);
    background-repeat: no-repeat;
    background-color: white;
    font-size: 2.5rem;
    padding-left: 35px;
    border: none;
    border: 9px solid white;
    border-bottom: 9px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0;
    left: 50px;
    top: 50px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.356);
}

.gitSubmit:hover {
    -webkit-filter: invert(10%);
    filter: invert(10%);
}

.pagi {
    display: flex !important;
    justify-content: center !important;
    margin-top: 40px;
}

.pagi button {
    padding: 5px 8px;
    font-size: 2rem;
    background: white;
    cursor: pointer;
    border: none;
    border: 5px solid #121820;
    border-radius: 15px;
}

.pagi button:hover {
    -webkit-filter: invert(99%);
    filter: invert(99.99%);
}


@media screen and (max-width: 1366px) {

    img {
        width: 140px;
        height: 140px;
    }

}

@media screen and (max-width: 800px) {
    .gt {
        max-width: 250px;
        font-size: 2rem;
    }

    .gitSubmit {
        font-size: 2rem;
    }

    .bg {
        display: none;
    }
}