* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .minicontainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .minicontainer {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.minicontainer {
  margin-top: 100px;
}

img {
  max-height: 200px;
  max-width: 100%;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  border-radius: 5px;
  display: block;
  width: 50%;
  margin-left: 5px !important;
}

input[type=text] {
  border: 1px solid #000;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #008000;
  color: #fff;
}

.input-group {
  margin-bottom: 2rem;
}

.validation {
  color: #ff0000;
}