 *{
  box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
  }

  html{
      background-color: rgb(191, 211, 211);
      
  }
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
    
}

#form-section{
    position: relative;
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 150px 35% 40px 35%;
    background-color: rgb(180, 119, 119);
    border-radius: 2rem;
    
}

form{
    position: relative;
    display:flex; 
    flex-direction:column;
    justify-content: center;
    
    
}

button,
input{
    padding: 15px;
    margin: 10px;
    background-color: rgb(192, 189, 189);
    border: 2px solid ;
    border-radius: 3px;
}
button:hover{
    background-color:rgb(143, 154, 219);
}

.error_msg{
    height: 60px;
    margin: auto;
    font-size: 40px;
    
}

#php_section{
display: flex;
position: relative;
flex-direction: column;

align-items: center;
min-height: 40%;
margin: auto 35%;
margin-top: 4px;
max-height: 110%;
background-color: antiquewhite;
border-radius: 2rem;
}

#initials{
    width: 90%;
    font-size: 24px;
    position: absolute;
    text-align: left;
    
    margin-top: 10px;
}

#img{
    margin-top: 40px;
    width: 90%;
    max-height: 90vh;
    height: 90%;
    border: 3px rgb(28, 34, 36) solid;
    border-radius: 3%;
}



