body{
    margin: 0;
    /*hello*/
    padding: 0;
    font-family: sans-serif;
    background: #33495e;
}
.box{
    width: 600px;
    padding: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 40px;
    transition: 0.5s;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;

}
.box input[type = "text1"], .box input[type = "text2"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 17px 12px;
    width: 300px;
    font-size: 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text1"]:focus, .box input[type = "text2"]:focus{
    width: 380px;
    border-color: #2ecc71;
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 50px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}

.file-input{
    font-size: 16px;
    background: white;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    width: 300px;
    outline: none;
}
::-webkit-file-upload-button{
    color: white;
    background: #3498db;
    padding: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #147c43;
    outline: none;
    cursor: pointer;
}
::-webkit-file-upload-button:hover{
    background: #2ecc71;
}