* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: #ccc;
}

form {
  background-color: white;
  padding: 1.5rem;
  border-radius: 7px;
  width: 450px;
  max-width: 90vw;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-wrapper input {
  margin-bottom: 1rem;
  padding: 0.3rem 0.6rem;
  outline: none;
}
.button {
  padding: 0.5rem 0.7rem;
  background-color: rgb(32, 32, 32);
  color: white;
  border: none;
  border-radius: 7px;
  border: 1px solid rgb(32, 32, 32);
  max-width: max-content;
  transition: 0.3s;
}
.button:hover {
  background-color: white;
  color: rgb(32, 32, 32);
  cursor: pointer;
}
.error {
  margin-bottom: 1rem;
  color: red;
}
.profile-component {
  font-size: 2rem;
  gap: 1rem;
  width: 550px;
  max-width: 90vw;
  margin-top: 1rem;
}
.profile-component img {
  width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  max-width: max-content;
}
