body {
    background: #555585;
}

/* Here we style form block wrapper */
.profileForm {
    background: #3f3b49;
    border: 2px solid rgb(54, 45, 45);
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
    left: 0;
    margin: 0 auto;
    padding: 25px 0;
    position: absolute;
    right: 0;
    top: 50px;
    width: 500px;
}

/* Here we style form wrapper's 2nd level title tag */
.profileForm h2 {
    color:rgb(235, 241, 241);    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Here we style form block  */
form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
}

/* Here we style form's submit button */
form button {
    background: rgb(72, 72, 100);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    font-size: 18px;
    margin: 25px auto 0;
    padding: 5px 15px;
    width: 200px;
}

/* Here we style form's input fields  */
form input {
    padding: 5px;
}

/* Here we style form's span containers where are error texts */
form span {
    color: #f00;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* Here we style the where will be displayed profile data  */
.profile {
    margin: 50px 0 0 100px;
}

/* Here we style greeting 1st level title  */
.profile h1 {
    text-align: center;
    color: rgb(13, 228, 24);
}

/* Here we style uploaded profile image  */
.profile img {
    border: 3px solid #aabda8;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

/* Here we style first and last names initial text  */
.profile p {
    color: rgb(236, 205, 205);
    font-size: 18px;
}

/* Here we style profile first and last name data which will be displayed  */
.profile p>span {
    color:#fff;
}

/* Here we style each inputs separately */
.input-group {
    margin: 0 0 10px;
}

/* Here we style each input's label text  */
.input-group label {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Here we style error text which will be shown  */
.input-group span {
    color: #ef4f4f;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

/* Here we hide input file for our custom button  */
input[type="file"] {
    display: none;
}

/* Here we style our custom file uploading button  */
.upload {
    background-color: gray;    
    border: 1px solid #b39919;
    border-radius: 5px;
    color: white;
    cursor: pointer;    
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin: 20px 0 0;
    padding: 5px 10px;
    text-align: center;
    width: 80px;    
}

/* Here we style uploaded file's name  */
.input-group #profImgName{
    color: #0f0;
}