body {
  background: linear-gradient(#0062ff, #ffd208ff);
}

.main {
  width: 100%;
  height: 100%;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.main-form {
  padding: 40px 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  max-width: min-content;
  position: relative;
}

.input {
  display: block;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  height: 45px;
  width: 300px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.input:focus {
  outline: none;
  transform: scale(1.05);
}

#files {
  display: none;
  position: absolute;
}

#file {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  border: dashed lightgray;
  border-radius: 5px;
  font-size: 24px;
  color: lightgray;
  transition: 0.3s ease-in-out;
}

#file:hover {
  font-size: 23px;
  color: grey;
  border: dashed grey;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button > button {
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(231, 230, 230);
  color: gray;
  transition: 0.3s;
  border-width: 0px;
  font-family: sans-serif;
  font-size: 16px;
}

.button > button:hover {
  background-color: rgb(200, 197, 197);
  color: rgb(91, 91, 91);
}

/* User profile container styles */
.usr-profile {
  display: block;
  margin-top: 30px;
  border-radius: 5px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usr-pfp > img {
  border-radius: 5px 5px 0 0;
}

.usr-name {
    height: 40px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usr-name > h3 {
    height: 100%;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(69, 68, 68);
    padding-top: 8px;
}



/* Errors */
.error {
    position: absolute;
    color: red;
}

.fname-error {
    top: 21px;
}

.lname-error {
    top: 87px;
}

.image-error {
    top: 153px;
}

.image  {
    object-fit: cover;
}