html{
    font-size: 100%;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    line-height: 1.3;
    background-image: linear-gradient(to right, #6fd096, #435ed6);
}
*{
    box-sizing: inherit;
}
.container{
    margin: 0 auto;
    width: 300px;
    max-width: 400px;    

}