body {
    color: #555;
    background-color: #5B9EED;
    font-family: sans-serif;
}
  
  
body{
    font-family: sans-serif;
}
  
form{
    margin: auto;
    width: 500px;
    margin: auto;
    margin-bottom: 50px;
}
  
h1{
    text-align: center;
}
  
  
.repos{
    width: 80%;
    margin: auto;
    background: #fff;
    border-radius: 2px;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
}
  
a{
    text-decoration: none;
    color: rgb(19, 63, 158);
    font-size: 21px;
}
  
.followers{
    width: 80%;
    margin: auto;
    background: #fff;
    border-radius: 2px;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
}
  
.followers img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
  
.followers a{
    display: flex;
    align-items: center;
    gap: 20px;
}
  
.container{
    display: flex;
}
  
.container .first{
    width: 50%;
}
  
.container .second{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}