* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5b80f;
  font-family: "Roboto", sans-serif;
}

.form-container {
  margin-top: 100px;
}

.about-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.about-form label {
  display: flex;
  align-items: center;

  font-size: 18px;
  margin-bottom: 12px;
}
.about-form input {
  padding: 10px 20px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fef8e7;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

input[type="submit"] {
  cursor: pointer;
}

.img-upload {
  cursor: pointer;
  border: 2px solid #2e1907;
  border-radius: 9px;
  padding: 5px 10px;
  gap: 5px;
}

input[type="file"] {
  display: none;
  overflow: hidden;
  border-radius: 9px;
  font-family: inherit;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-top: 50px;
}

.user-details p {
  font-size: 20px;
  font-weight: 500;
}

.user-img {
  width: 250px;
  height: 250px;
}
